$colors: (
    primary: (
        background: #0992FA,
        text: #ffffff
    ),
    black: (
        500: #000000,
        400: #373530,
        200: #666666,
        100: #878683,
    ),
    pink: (
        500: #B914BC,
        100: #FED9FF
    ),
    grey: (
        500: #909090,
        400: #cecece,
        300: #b4b4b4,
        200: #e5e5e5,
        100: #f0f0f0,
        50: #dadada,
    ),
    blue: (
        500: #0992FA,
        200: #E1EFFA,
        100: #F1F4FB
    )
);