@use "sass:map";

$fonts: (
    family: (
        primary: ($font--google, Arial, Helvetica, sans-serif), // TODO: handle if variable $font--google does not exists
    ),

    weight: (
        /* this will be automatically fill in from config.js in following pattern 
            100: 100,
            200: 200,
            400: 400,
            500: 500,
        */
    ),

    size: (
        h1: 7.2rem,
        h2: 6.4rem,
        h3: 5.6rem,
        h4: 4.8rem,
        h5: 4rem,
        h6: 3.2rem,
        text: 1.6rem,
        smallText: 1.4rem,
    ),

    height: (
        small: 2.4rem,
        medium: 3.2rem,
        large: 6.4rem
    )
);

// TODO: handle if variable $weight--google does not exists
@each $weight in $weight--google {
    $fonts: map.set($fonts, weight, $weight, $weight);
}