@if variable-exists("font--google-hash") {
    @debug "google font";
    @import url('https://fonts.googleapis.com/css2?family=#{$font--google-hash}:wght@#{$weight--google-hash}&display=swap');
} @else {
    @debug "custom font";
}


html {
    font-size: 62.5%;
}

body {
    font-family: get-font(family, primary);
    font-weight: get-font(weight, regular);
    font-size: get-font(size, text);
    min-height: 100vh;
    color: get-color(black);
    position: relative;
}
