/* 
    [] Button States
        [] Button loading effects
        [] Button hover effects
    [] Button types
*/

// initialize button
.btn {
    @include reset-btn();

    background-color: get-color(primary, background);
    color: get-color(primary, text);
    border-radius: get-border();
    font-size: get-font(size, text);
    line-height: get-font(height, medium);
    border-radius: get-border(primary);
    padding: 0.8rem 1.6rem;
    transition: background 0.3s;

    &:hover,
    &:focus,
    &:active {
        background-color: darken(get-color(primary, background), 5%);
    }
}

// buttons with icon
.btn--ico,
.btn--ico-l,
.btn--ico-r {
    .ico,
    i,
    svg {
        font-size: 1.4rem;
    }
}

.btn--ico-l,
.btn--ico {
    .ico,
    i,
    svg {
        margin-right: 0.8rem;
    }
}

.btn--ico-r{
    .ico,
    i,
    svg {
        order: 2;
        margin-left: 0.8rem;
    }
}

// buttons