// loading
.btn.is-loading {
  color: transparent !important;
  pointer-events: none;

  &::after {
      content: "";
      position: absolute;
      border: 3px solid rgba(get-color(primary, text), 0.25);
      border-left-color: get-color(primary, text);
      border-radius: 50%;
      min-width: 20px;
      min-height: 20px;
      animation: donut-spin 1.2s linear infinite;
  }
}

.btn.is-loading-2 {
  transition: padding 0.3s;
  pointer-events: none;
  padding-right: calc(1.6rem + 1.2rem + 0.8rem);

  &::after {
    content: "";
    position: absolute;
    border: 2px solid rgba(get-color(primary, text), 0.25);
    border-left-color: get-color(primary, text);
    border-radius: 50%;
    right: 1.2rem;
    min-width: 1.2rem;
    min-height: 1.2rem; 
    animation: donut-spin 1.2s linear infinite;
}
}

@keyframes donut-spin {
  to {
    transform: rotate(1turn); 
  }
}

// disabled
.btn.is-disabled,
.btn:disabled {
    background-color: get-color(grey, 300);
    pointer-events: none;
}

// hover 
.btn.on-hover {
    background-color: red;
}

// success 
.btn.is-success {
  position: relative;
  color: transparent !important;
  pointer-events: none;

  &::after {
    content: '';
    display: block;
    position: absolute;
    border-bottom: 0.2rem solid #fff;
    border-left: 0.2rem solid #fff;
    width: 1.6rem;
    height: 0.8rem;
    left: 50%;
    top: calc(50% - 1rem);
    transform: rotate(-45deg) translate(-50%, -50%);
    animation: popup 0.25s;
  }
}

@keyframes popup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
